body {
  color: grey;
  padding-top: 0.5rem;
  background-color: black; }

.col-sm {
  padding: 50px 0px 50px 0px; }

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center; }

h1 {
  font-size: 22pt;
  font-family: helvetica, arial, sans-serif; }

.full-img {
  position: relative;
  display: block;
  width: 80%;
  margin: 0 auto; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0); }

button {
  color: white;
  font-weight: 400;
  padding: .375rem 3rem;
  margin: 30px;
  border: 0;
  border-radius: .3rem;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
  top: 2px;
  left: 2px; }

.thumb-bar {
  width: 80%;
  margin: 0 auto; }
  .thumb-bar img {
    display: block;
    width: 20%;
    float: left;
    cursor: pointer; }
